{% for port in ports %}
server {
    include /etc/nginx/include/no_logging.conf;
    include /etc/nginx/include/no_dotfiles.conf;
    include /etc/nginx/include/no_symlinks.conf;

    {% if listing %}
        include /etc/nginx/include/listing.conf;
    {% endif %}

    listen {{port.number}}{% if port.ssl %} ssl{% endif %};
    listen [::]:{{port.number}}{% if port.ssl %} ssl{% endif %};

    server_name {{ domains | join(" ") }};

    root {{ document_root.path }};
}

{% endfor %}
