server {
    include /etc/nginx/include/no_logging.conf;
    include /etc/nginx/include/no_dotfiles.conf;
    include /etc/nginx/include/no_symlinks.conf;

    {% if listing %}
        include /etc/nginx/include/listing.conf;
    {% endif %}

    listen 80;
    listen [::]:80;

    server_name {{ domains | join(" ") }};

    root {{ document_root }};
}

