user = postfixdbuser
password = {{ db_mail_password }}
hosts = localhost
dbname = {{ db_mail_name }}
#query = SELECT domain FROM domain WHERE domain='%s'
#optional query to use when relaying for backup MX
query = SELECT domain FROM domain WHERE domain='%s' and backupmx = false and active = true
