==== THIS IS A SYSTEM FOR {{ system.purpose | upper }} =====

FREIFUNK HAMBURG is a non commercial open initiative
to establish a free radio network (WLAN) in the city
of Hamburg. It is part of the international movement
for free and wireless radio networks.

DO NOT install anything additional here
DO NOT reboot if not necessary
DO NOT work on here

ENSURE reboot persistency of your configuration
ENSURE safety of your configuration
ENSURE stability of your configuration (no experiments)

--> THANKS :)
