{% if updates_tls_crt is defined %}
server {
    server_name updates.hamburg.freifunk.net;
    listen 443 ssl;
    listen [::]:443 ssl;
    ssl_certificate {{ updates_tls_crt }};
    ssl_certificate_key {{ updates_tls_key }};

    root {{ updates_root }};
    include snippets/autoindex.conf;
    include snippets/header-hsts.conf;
}

{% endif %}
# Kein HTTPS Redirect wg. Paketinstallation auf Routern
server {
    server_name updates.hamburg.freifunk.net;
    listen 80;
    listen [::]:80;

    root {{ updates_root }};
    include snippets/autoindex.conf;

{% if updates_letsencrypt == 'local' %}
    include snippets/location-acme.conf;
{% elif updates_letsencrypt == 'srv01' %}
    include snippets/location-acme-srv01.conf;
{% endif %}
}

server {
    server_name *.updates.services.ffhh;
    listen 80;
    listen [::]:80;

    root {{ updates_root }};
    include snippets/autoindex.conf;
}
