include /etc/nginx/include/node_hierarchy.conf;

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name updates.hamburg.freifunk.net;

    ssl_certificate {{ updates_ssl_certificate }};
    ssl_certificate_key {{ updates_ssl_certificate_key }};

    root /var/www/updates;

    if ($ffhh-sued) {
        rewrite ^/(beta|experimental|stable)/(.*)$ /ffhh-sued/$1/$2;
    }

    location / {
        include /etc/nginx/include/headers_hsts.conf;
        include /etc/nginx/include/listing.conf;
    }

    location = /config {
        root /etc/nginx/include;
        try_files /node_hierarchy.conf =404;
        default_type text/plain;
    }
}

# Kein HTTPS Redirect wg. Paketinstallation auf Routern
server {
    listen 80;
    listen [::]:80;

    server_name updates.hamburg.freifunk.net;

    root /var/www/updates;

    if ($ffhh-sued) {
        rewrite ^/(beta|experimental|stable)/(.*)$ /ffhh-sued/$1/$2;
    }

    location / {
        include /etc/nginx/include/listing.conf;
    }
{% if letsencrypt_srv02 %}

    include /etc/nginx/include/letsencrypt_srv02.conf;
{% endif %}
}

server {
    listen 80;
    listen [::]:80;

    server_name 1.updates.services.ffhh;

    root /var/www/updates;

    if ($ffhh-sued) {
        rewrite ^/(beta|experimental|stable)/(.*)$ /ffhh-sued/$1/$2;
    }

    location / {
        include /etc/nginx/include/listing.conf;
    }
}
